venv
.idea
/*.o
/*.log
/zookd
/zookd-exstack
/zookd-nxstack
/zookd-withssp
/zookhttp
/zookfs-exstack
/zookfs-nxstack
/zookfs-withssp
/zookld
/shellcode*.bin
/run-shellcode
/submit.key
/submit.token
/zoobar/db
/lab*-handin.tar.gz
__pycache__
