venv
.idea
authsvc
/*.o
/*.log
/zookd
/zookd-exstack
/zookld-exstack
/zookd-nxstack
/zookd-withssp
/zookhttp
/zookhttp-exstack
/zoobar/grades.txt
/zookfs-exstack
/zookfs-nxstack
/zookfs-withssp
/zookld
/shellcode*.bin
/run-shellcode
/submit.key
/submit.token
/zoobar/db
/lab*-handin.tar.gz
__pycache__
